<%- model_class = Comment -%>
<div class="page-header">
  <h2 style="color: #1E90FF; ">noticia => <h2 style="margin-left: 312px" ><%=@report.titulo%></h2></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:comentario) %></th>
      <th><%= model_class.human_attribute_name(:nota ) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
       
      <tr>
       
        <td><%= comment.comment %></td>
        <td><%= comment.rating %></td>
        <td><%=l comment.created_at %></td>
        <td>
        
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_report_comment_path(:edit, @report, @comment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      report_comments_path(@report),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

