 

<%= form_for :@user , url: show_update_path(@user.id) , html: {method: "get", role: "form", class: "col-md-8", style: "padding-left: 0px;"} do |a| %>

   

     <div class="form-group" style= "width: 350px; padding-left: 15px">
        <%= a.label :role, "função (0 para admin ou 1 para comum)  * :",  class: 'required', style:"font-size: 15px;" %>
        <%= a.text_field :role, value: @user.role, class: "form-control" %>
     </div>


     
     <div class="form-group" style= "width: 350px; padding-left: 15px">
       <%= a.label :name, "nome* :",  class: 'required', style:"font-size: 15px;" %>
        <%= a.text_field :name, value: @user.name,  class: "form-control" %>
     </div>


    <div class="form-group" style="padding-left: 15px" >     
      <%= a.submit "Atualizar Credenciais", class: "btn btn-primary" %>
      
    </div>


<% end %>











  
  
    